@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --clr-primary-1: hsl(158, 36%, 37%);
    --clr-hover-1: hsl(158, 46%, 15%);
    --clr-primary-2:hsl(30, 38%, 92%);
    --clr-neutral-1: hsl(212, 21%, 14%);
    --clr-neutral-2: hsl(228, 12%, 48%);
    --clr-neutral-3: white;
    --fs-p:14px;
    --fs-lg:2em;
    --fw-sm:500;
    --fw-lg:700;
    --ff-1:'Montserrat', sans-serif;
    --ff-2:'Fraunces', sans-serif;
}

/*
Layout styles
*/
body{
    background-color: var(--clr-primary-2);
    box-sizing: border-box;
    margin:0;
    width:100vw;
    height: 100vh;
    font-family: var(--ff-1);
    display:flex;
    flex-direction: column;
    align-items: center;
}

.card{
    width:min(800px, 80%);
    height:min(800px, 80%);
    padding:10px;
}
.container{
    display:flex;
    flex-direction: column;
    justify-content:center;
    text-align:left;
    padding:.6rem;
    background-color:var(--clr-neutral-3);
    border-radius: 0 0 15px 15px;
    margin-top:-10px;
    
}
.text-container{
    margin:0 15px;
}
.price-container{
    display: flex;
    flex-direction: row;
}

/* Text styles*/
p{
    color:var(--clr-neutral-2);
    font-size:var(--fw-p);
    font-weight:var(--fw-p);
}
.fancy{
    font-family:var(--ff-1);
    letter-spacing: .5ch;
    text-transform: uppercase;
}
h1{
    font-size: var(--fs-lg);
    font-weight:var(--fw-lg);
    font-family: var(--ff-2);
}
.price{
    color:var(--clr-primary-1);
}
.strike-through{
    text-decoration: line-through;
    margin-left:20px;
    align-self: center;
}
/* Elements */
button{
    background-color: var(--clr-primary-1);
    color:white;
    border-radius:10px;
    width:80%;
    border:none;
    height:3.5rem;
    transition: .5s ease-in-out;
}
button span{
    font-weight:var(--fw-lg);
    margin-left:.5rem;
}
button:hover{
    background-color: var(--clr-hover-1);
    cursor: pointer;
    transition: .5s ease-in-out;
}
.img-responsive{
    content:url("./images/image-product-mobile.jpg");
    content:attr("perfume");
    width:100%;
    border-radius:15px 15px 0 0;
    object-fit: cover;
}

/* Media Queries */

@media screen and (min-width:650px){
    .img-responsive{
        content:url("./images/image-product-desktop.jpg");
        width:50%;
        border-radius:15px 0 0 15px;
    }
    .card{
        display:flex;
    flex-direction: row;
    }
    .container{
        border-radius: 0 15px 15px 0;
        margin:0;
    }
    button{
        width:100%;
        height:4rem;
    }

    body{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .text-container{
        height:90%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
}
